.basic-container {
	border: 1px solid black;
	padding: 10px;
}

/* Team Grid!!! */
.form {
	display: grid;
	justify-content: center;
}

.color-container {
	border: 1px solid black;
	padding: 10px;
	background-color: rgb(189, 218, 241);
}

.table {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 10px;
}
